<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<!-- Bảo mật: Cho phép các HTTP verbs bổ sung -->
			<security>
				<requestFiltering>
					<verbs allowUnlisted="true">
						<add verb="PUT" allowed="true" />
						<add verb="DELETE" allowed="true" />
						<add verb="PATCH" allowed="true" />
					</verbs>
				</requestFiltering>
			</security>

			<!-- Xử lý HTTP request -->
			<handlers>
				<remove name="WebDAV" />
				<remove name="ExtensionlessUrlHandler-Integrated-4.0" />

				<add name="aspNetCore"
					 path="*"
					 verb="*"
					 modules="AspNetCoreModuleV2"
					 resourceType="Unspecified" />

				<add name="ExtensionlessUrlHandler-Integrated-4.0"
					 path="*."
					 verb="GET,HEAD,POST,DEBUG,PUT,DELETE,OPTIONS,PATCH"
					 type="System.Web.Handlers.TransferRequestHandler"
					 resourceType="Unspecified"
					 requireAccess="Script"
					 preCondition="integratedMode,runtimeVersionv4.0" />
			</handlers>

			<!-- Tắt module WebDAV -->
			<modules>
				<remove name="WebDAVModule" />
			</modules>

			<!-- Cấu hình ASP.NET Core -->
			<aspNetCore processPath="dotnet"
						arguments=".\WebAPIStrain.dll"
						stdoutLogEnabled="false"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess" />

		</system.webServer>
	</location>
</configuration>